h1, h2, h3, h4, p, a{  color: #B4B4B4; }

h1, h2, h3, h4, .center-text{ 
    text-align: center;
}

h3{
    margin: 20px 0 30px 0;
}

h4{
    margin: 15px 0 0 0;
}

a{
    text-decoration: none;
}

.img-portfolio{ width: 100% }

.mainColor{ background-color: #191919; }

.portfolio-page, .about-page, nav{
    background-color: #343434;
    border-radius: 2px;
}

footer{    
    background-color: #808080;
    border-radius: 2px;
}

footer div{
    display: flex;
    justify-content: center;
}

footer a{
    color: #D4D4D4;
    margin: 7px 15px;
}

footer a:hover{
    color: #E4E4E4;    
}

nav{
    z-index: 1;
}

nav ul {   
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

nav li{
  text-align: center;
  border-bottom: 2px solid #404040;
}

nav li a {
  display: block;
  color: #C4C4C4;
  padding: 15px 15px;
}

nav li a:hover {
  background-color: #404040;
}

nav li a:active{
  background-color: #343434;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header a:hover{
    color: #E4E4E4;
}

#info{
    margin-top: 20vh;
}

#linksSocials{
    margin-top: 5%;
}

#linksSocials a{
    margin: 0px 12px;
}

#linksPages{
    display: flex;
    flex-direction: row;
    margin-bottom: 20vh;
}

#linksPages div{
    text-align: center;
    margin: 0px 25px;
    padding: 0px 15px;
}

[class*="portfolio_"] {
    background-color: #404040;
    border-radius: 7px;    
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5),
                10px 10px 15px rgba(0,0,0,0.5),
                -1px -1px 30px rgba(0,0,0,0.2);
}

.portfolio-content{
    display: flex;
    flex-flow: column nowrap;
}

.label-container, .showcase, .description{
    margin: 10px 0px 5px 0px;
}

.subtitle{
    margin-bottom: 5px;
}

.textfield{
    background-color: #505050;
    margin-bottom: 10px;
    border-radius: 3px;
    box-shadow: inset 2px 2px 1px rgba(0,0,0,0.5);
    padding: 5px 7px 5px 7px;
}

.label{
    white-space: nowrap;
    text-align: center;
    color: #E4E4E4;
    background-color: #C35BB3;
    padding: 3px 10px;
    border-radius: 50px;    
}

.label-topic{
    flex-basis: 7em;
    margin: 10px 10px 10px 0px;
}

.label-skills{
    flex-basis: 4em;
    margin: 5px 5px 5px 0px;
}

.buttons-container{
    display: flex;
    justify-content: space-around;
    margin-top: auto;
    margin-bottom: 8px;
}

.button{
    background-color: #5E5E5E;
    background-image: linear-gradient(#5E5E5E, #3C3C3C);
    padding: 3px 8px;
    margin-top: 10px;
    min-width: 5em;
    text-align: center;
    border-radius: 7px;
    border: 1px solid #606060;    
    border-bottom: 1px solid #535353;    
}

.button:hover{
    background-color: #6E6E6E;
    background-image: linear-gradient(#6E6E6E, #4C4C4C);    
}

.button:active{
    background-color: #505050;
    background-image: linear-gradient(#505050, #303030);
    border: 1px solid #595959;    
    border-bottom: 1px solid #505050;     
}

.button i{
    margin-right: 0.5em;
}

@media only screen and (min-width: 1940px){
    
    h3{
        margin: 40px 0 60px 0;
    }

    h4{
        margin: 30px 0 0 0;
    }
    
    .portfolio-page, .about-page, nav, footer{
        border-radius: 4px;
    }
    
    footer a{
        margin: 14px 30px;
    }
    
    nav li a {
        padding: 30px 30px;
    }
    
    [class*="portfolio_"] {
        border-radius: 14px;    
        box-shadow: 4px 4px 10px rgba(0,0,0,0.5),
                    20px 20px 30px rgba(0,0,0,0.5),
                    -2px -2px 60px rgba(0,0,0,0.2);
    }
    
    .label-container, .showcase, .description{
        margin: 20px 0px 10px 0px;
    }
    
    .subtitle{
        margin-bottom: 10px;
    }
    
    .textfield{
        margin-bottom: 20px;
        border-radius: 6px;
        box-shadow: inset 4px 4px 4px rgba(0,0,0,0.5);
        padding: 10px 14px 10px 14px;
    }
    
    .label{
        padding: 6px 20px;  
    }

    .label-topic{
        margin: 20px 20px 20px 0px;
    }

    .label-skills{
        margin: 10px 10px 10px 0px;
    }
    
    .button-container{  
        margin-bottom: 16px;
    }
    
    .button{
        padding: 6px 16px;
        margin-top: 20px;
        border-radius: 14px;
    }
}

@media only screen and (max-width: 992px){
    
    h3{
        margin: 13px 0 10px 0;
    }

    h4{
        margin: 10px 0 0 0;
    }
    
    footer a{
        margin: 5px 10px;
    }
    
    .label-container, .showcase, .description{
        margin: 6px 0px 3px 0px;
    }
    
    .subtitle{
        margin-bottom: 3px;
    }
    
    .textfield{
        margin-bottom: 6px;
    }

    .label-topic{
        margin: 6px 6px 6px 0px;
    }

    .label-skills{
        margin: 3px 3px 3px 0px;
    }
    
    .button-container{  
        margin-bottom: 5px;
    }
    
    .button{
        margin-top: 6px;
    }
}

@media only screen and (max-width: 600px){          
    
    nav{
        background-color: #000000;
        overflow: visible;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
    
    nav div, nav ul{
        display: flex;
        flex-direction: row;
    }
    
    nav ul{
        justify-content: space-between;
    }
    
    nav li{
        border-bottom: none;
    }
    
    nav #ulHome li{
        border-right: 2px solid #404040;
    }
    
    nav #ulContent li{
        border-left: 2px solid #404040;
    }
}