h1, h2, h3, p, a{  color: #B4B4B4; }

h1, h2, h3, .center-text{ 
    text-align: center;
}

a{
    text-decoration: none;
}

.img-portfolio{ max-width: 100% }

.mainColor{ background-color: #191919; }

.portfolio-page, .about-page, nav{
    background-color: #343434;
}

footer{    
    background-color: #808080;
}

footer div{
    margin: 5px;
    display: flex;
    justify-content: center;
}

footer a{
    color: #D4D4D4;
    margin: 10px 15px;
}

footer a:hover{
    color: #E4E4E4;    
}

nav ul {   
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

nav li{
  text-align: center;  
  border-bottom: 2px solid #404040;
}

nav li a {
  display: block;
  color: #C4C4C4;
  padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
  background-color: #404040;
}

nav li a:active{
  background-color: #343434;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header a:hover, header p:hover{
    color: #D4D4D4;
}

#info{
    margin-top: 15em;
}

#linksSocials{
    margin-top: 50px;
}

#linksSocials a{
    margin: 0px 5px;
}

#linksPages{
    display: flex;
    flex-direction: row;
    margin-bottom: 12em;
}

#linksPages div{
    text-align: center;
    margin: 0px 25px 0px 25px;
    padding: 5px 15px;
}

#linksPages p{
    padding: 0px;
    margin: 5px;
}

[class*="portfolio_"] {
    background-color: #404040;
    border-radius: 7px;    
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5),
                10px 10px 15px rgba(0,0,0,0.5),
                -1px -1px 30px rgba(0,0,0,0.2);
}

.textfield{
    background-color: #505050;
    border-radius: 3px;
    box-shadow: inset 2px 2px 1px rgba(0,0,0,0.5);
    padding: 5px 7px 5px 7px;
}

.label-topic{
    flex-basis: 90px;
    text-align: center;
    color: #E4E4E4;
    background-color: #C35BB3;
    margin: 10px 5px 10px 5px;
    padding: 3px;
    border-radius: 8em;
}

.label-skills{
    flex-basis: 40px;
    text-align: center;
    color: #E4E4E4;
    background-color: #C35BB3;
    margin: 5px 0px 5px 5px;
    padding: 5px 10px 5px 10px;
    border-radius: 8em;
}

@media only screen and (max-width: 600px){     

    nav{
        background-color: #000000;
    }
    
    nav{
        overflow: visible;
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
    }
    
    nav div, nav ul{
        display: flex;
        flex-direction: row;
    }
    
    nav ul{
        justify-content: space-between;
    }
    
    nav li{
        border-bottom: none;
    }
    
    nav #ulHome li{
        border-right: 2px solid #404040;
    }
    
    nav #ulContent li{
        border-left: 2px solid #404040;
    }
}